workflows/akinator-game.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "1a2b3c4d-0001-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [432, 416],
      "webhookId": "1a2b3c4d-0001-4aaa-9aaa-aaaaaaaaaaaa",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are an Akinator-style game agent. You have NO built-in game logic. Every instruction for how to play lives in the skill files listed below.\n\n## MANDATORY — Do this before every single response\n1. Use Get a File From GitHub to fetch ALL four skill files concurrently (one tool call per file, all at once)\n2. Read the fetched content\n3. Only then respond, following those instructions exactly\n\nSkill files to fetch on startup (repoOwnerUsername: victhorbi, repoName: test_n8n_skills):\n- agents/akinator/skills/candidate-state-manager.md\n- agents/akinator/skills/entropy-calculator.md\n- agents/akinator/skills/confidence-threshold-check.md\n- agents/akinator/skills/knowledge-base-resolver.md\n\n## Available Skills Files and Directories\n{{ \nJSON.stringify(\n  $('Merge Directory Structures')\n    .all()\n    .map(item => ({\n      \"type\": item.json.type,\n      \"path\": item.json.path,\n      \"orgName\": item.json.url.split('/')[4],\n      \"repoName\": item.json.url.split('/')[5],\n    }))\n    .filter(i => \n      i.path.toLowerCase().split('/').last() !== \"readme.md\" && \n      i.path.toLowerCase().split('/').last() !== \"template\" &&\n      i.path.toLowerCase().split('/').last() !== \"license\"\n    ),\n  null,\n  2\n) \n}}\n\n## Absolute Rules\n- NEVER play the game without fetching the skill files first\n- NEVER answer from general knowledge — your instructions are only in the skill files\n- If a tool call fails, tell the user explicitly: \"Tool call failed: [error]\" — do not fail silently",
          "maxIterations": 150
        }
      },
      "id": "1a2b3c4d-0002-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1936, 416],
      "executeOnce": true,
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.SKILLS_REPOS }}"
        },
        "repository": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.SKILLS_REPOS }}"
        },
        "filePath": "/"
      },
      "id": "1a2b3c4d-0003-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "List Root Dirs",
      "type": "n8n-nodes-base.github",
      "position": [1264, 336],
      "webhookId": "1a2b3c4d-0003-4aaa-9aaa-aaaaaaaaaaaa",
      "typeVersion": 1.1,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a2b3c4d-0004-4aaa-8aaa-aaaaaaaaaaaa",
              "name": "SKILLS_REPOS",
              "type": "array",
              "value": "=[\n  \"https://github.com/victhorbi/test_n8n_skills\"\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0004-4aaa-8aaa-bbbbbbbbbbbb",
      "name": "Set GitHub Repo URLs",
      "type": "n8n-nodes-base.set",
      "position": [784, 416],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "SKILLS_REPOS",
        "options": {}
      },
      "id": "1a2b3c4d-0005-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [1072, 416],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "1a2b3c4d-0006-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [2128, 800],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "1a2b3c4d-0007-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [1920, 800],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.SKILLS_REPOS }}"
        },
        "repository": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.SKILLS_REPOS }}"
        },
        "filePath": "/agents/akinator/skills"
      },
      "id": "1a2b3c4d-0008-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "List Skills Dirs",
      "type": "n8n-nodes-base.github",
      "position": [1264, 496],
      "webhookId": "1a2b3c4d-0008-4aaa-9aaa-aaaaaaaaaaaa",
      "typeVersion": 1.1,
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1a2b3c4d-0009-4aaa-8aaa-aaaaaaaaaaaa",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "skills"
            },
            {
              "id": "1a2b3c4d-0009-4aaa-8aaa-bbbbbbbbbbbb",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "."
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0009-4aaa-8aaa-cccccccccccc",
      "name": "Remove Skills Dirs & Dot Files",
      "type": "n8n-nodes-base.filter",
      "position": [1440, 336],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1a2b3c4d-000a-4aaa-8aaa-aaaaaaaaaaaa",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            },
            {
              "id": "1a2b3c4d-000a-4aaa-8aaa-bbbbbbbbbbbb",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "."
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-000a-4aaa-8aaa-cccccccccccc",
      "name": "Remove Errors and Dot Files",
      "type": "n8n-nodes-base.filter",
      "position": [1440, 496],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "List the files and directories inside of dirs.\nUse this tool on any DIR to see the files and other directories inside of it",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $fromAI('repoUsername') }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $fromAI('repoName') }}"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Path', \"`/` would be root, `/folder` would list files in the folder named folder\", 'string') }}"
      },
      "id": "1a2b3c4d-000b-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "List Files by Path Name",
      "type": "n8n-nodes-base.githubTool",
      "position": [2320, 928],
      "webhookId": "1a2b3c4d-000b-4aaa-9aaa-aaaaaaaaaaaa",
      "typeVersion": 1.1,
      "credentials": {}
    },
    {
      "parameters": {
        "toolDescription": "Get text content from a file on github from org, repo name, and path to file",
        "url": "=https://api.github.com/repos/{{ $fromAI('repoOwnerUsername', ``, 'string') }}/{{ $fromAI('repoName', ``, 'string') }}/contents/{{ $fromAI('File_Path', ``, 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.raw+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1a2b3c4d-000c-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Get a File From GitHub",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [2560, 944],
      "typeVersion": 4.4,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "1a2b3c4d-000d-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Merge Directory Structures",
      "type": "n8n-nodes-base.merge",
      "position": [1648, 416],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "## Akinator Game Agent\nThis workflow powers a skills-based Akinator AI.\n\nThe agent loads its operational logic (candidate filtering, entropy questions, confidence thresholds, fallback research) directly from the skill files in the GitHub repo — it has no hardcoded game knowledge.",
        "height": 352,
        "color": 7
      },
      "id": "1a2b3c4d-000e-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [368, 240],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Skills Repo\nPoints at `victhorbi/test_n8n_skills`.\n\nTo add more repos, extend the array — match the same URL syntax.",
        "height": 288,
        "width": 224,
        "color": 3
      },
      "id": "1a2b3c4d-000f-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [704, 144],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set GitHub Repo URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Root Dirs": {
      "main": [
        [
          {
            "node": "Remove Skills Dirs & Dot Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Repo URLs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "List Root Dirs",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Skills Dirs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "List Skills Dirs": {
      "main": [
        [
          {
            "node": "Remove Errors and Dot Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Skills Dirs & Dot Files": {
      "main": [
        [
          {
            "node": "Merge Directory Structures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Errors and Dot Files": {
      "main": [
        [
          {
            "node": "Merge Directory Structures",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "List Files by Path Name": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a File From GitHub": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge Directory Structures": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "akinator-skills-workflow-v1"
  }
}
